<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candy.name %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @candy.image_data %>
</p>

<p>
  <strong>Price:</strong>
  <%= @candy.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candy.description %>
</p>

<img src= "<%= @candy.image_url%>">

<%= link_to 'Edit', edit_candy_path(@candy) %> |
<%= link_to 'Back', candies_path %>
